[2017-01-10 13:13] virajprabhu opened #1 "Share Deep Learning Models online"
**Project Title**: Share Deep Learning Models online

**Description**: One of the problems facing young researchers who want to learn more about deep learning models is the amount of effort it takes to learn these new frameworks. [Here](https://docs.google.com/spreadsheets/d/1XvGfi3TxWm7kuQ0DUqYrO6cxva196UJDxKTxccFqb9U/edit#gid=0) is a small list of 64 deep learning frameworks that are available.

[2017-02-08 16:03] deshraj opened #2 "Implementing RESTful web services for EvalAI"
**Project Title**: Implementing RESTful web services for EvalAI

**Description**: is an evaluation server that will host AI challenges like Visual Question Answering, Image Captioning. Our next goal of this project is to implement REST APIs. Some of the initial tasks include:

- ~~Add setInterval to API calls to get real-time data (see https://github.com/Cloud-CV/EvalAI/issues/653)~~ (Already fixe

[2017-02-09 00:47] deshraj opened #3 "Remove Extra Content on the Issues Page"
We need to remove the extra content `You can do this project as part of the Google Summer of Code program. Click here for more information.`

[2017-02-09 13:08] dexter1691 opened #4 "Origami: Artificial Intelligence as a service"
**Project Title**: Origami
https://github.com/Cloud-CV/cvfy-lib
https://github.com/Cloud-CV/cvfy-frontend

**Description**:  Deep learning and its application in AI-subfields (computer vision, natural language processing) has seen a tremendous growth in the recent years. Driven in part by code, data, and manuscript sharing on github and arxiv, we are witnessing increasing public access to state-of

[2017-02-14 05:47] souravsingh commented on #4
@dexter1691 Since PyTorch has released, I believe the last point in Pre-Requisites is irrelevant, correct?

[2017-02-14 07:02] dexter1691 commented on #4
Right! Expertise in Lua is not required as such.

[2017-02-16 08:34] thisisashukla commented on #4
thats a breeze. how can we get hold of the second last point in the pre-requisits?

[2017-02-17 11:42] kritkaran94 opened #6 "Implementing Popular Deep Learning Architectures in Cloud CV"
**Project Title:** Writing tutorials and implementing popular deep learning architectures in CloudCV

**Description:** This project involves implementing popular deep learning algorithms and integrating them with the code base of CloudCV. Having said that, this project also aims at developing a
Web-application where users can share their code, discuss about their research work and write
tutorials

[2017-02-17 11:44] kritkaran94 commented on #6
@deshraj, Sir  I have created this issue. Since, I proposed this project last year as well it would be great If we could discuss more about it and see how this project can be worked upon.

[2017-03-01 18:25] helen-opetunde commented on #1
Hello @virajprabhu, I'd like to be part of this project for GSoC but I only know python and I am a data science student. Can I still be part of this project?

[2017-03-02 01:02] deshraj commented on #6
Hi @kritkaran94, thanks for opening this issue. We discussed this idea amongst the team members and we concluded that we won't proceed with this idea. Feel free to work on any other idea matching to your skill set. Looking forward for your contributions.

[2017-03-02 01:02] #6 closed, assigned to nobody

[2017-03-02 19:57] muddlebee commented on #2
Currently EvalAi uses ES5. Would it be any good including the idea of migrating from ES5 to ES6 ?

[2017-03-02 20:09] aka-jain commented on #2
@anweshknayak thanks for your suggestion, but shifting whole app from ES5 to ES6 will take huge time, basically then we have to revamp the whole site. Means, then we should have to go with Angular2 or React. And at this point when our app is almost in stable condition it will not be a good option to migrate to ES6. And we had this in our list from very begning. Will let everyone know once we decid

[2017-03-03 23:36] virajprabhu commented on #1
Sure, @9jadataninja, and thanks for your interest. We use full-stack web technologies pretty extensively, so having some background in web would be helpful. If you're interested, I'd suggest you try setting up the project and browsing through our issue threads for something you might like to work on. Do ping us on Gitter if you have questions.

[2017-03-04 07:50] AnshulBasia commented on #2
@deshraj Can you please elaborate the point Export Table to Latex / PNG ??

[2017-03-04 07:58] aradhyamathur commented on #1
Hello @virajprabhu I would also like to be the part of this project for GSoC. I know python and Django and currently working towards learning ML. Can I also contribute to this project ?

[2017-03-04 09:29] virajprabhu commented on #1
@aradhyamathur Absolutely! Please look at the instructions above.

[2017-03-05 08:13] withai commented on #1
Hello @virajprabhu, I'd like to contribute to this project. I am familiar with Python, Tensorflow. Am I eligible to be part of this project?

[2017-03-05 08:33] deshraj commented on #1
Hi @withai, glad that you are interested in this project. I think you have sufficient skillset for this project. Please go ahead and start with some of the getting started issues on the issues page of this project. Let us know if you need some help.

[2017-03-05 14:41] SahibSethi commented on #1
Hey @deshraj , I would like to contribute to this project, I have sufficient experience with Python Django Development, and I am really keen on getting started with ReactJS and Deep Learning. I'm starting with the project setup and request to seek help from mentors if required.
Thanks.

[2017-03-05 15:21] Ragib95 commented on #2
Hey,I am Dilnawaz Ragib pre-final year UG student at IIT Kharagpur. I want to be part of this project for GSoC. I have previous experience with Python and Django. What I need to do before submitting a proposal?

[2017-03-05 17:54] virajprabhu commented on #1
@withai @SahibSethi Absolutely! Please look at instructions above, and ping us on Gitter if you need any help setting up.

[2017-03-07 04:44] sh92 commented on #1
Hi, I would like to participate in gsoc project. So, I tried and succeed to install IDE. I have experience about django, tensorflow and Keras. And I am familiar with nodeJs. So, Can I participate in this project?

[2017-03-08 16:23] dexter1691 commented on #4
## Announcement
Thank you guys for all the amazing contributions you have been making. I have a small announcement to make.

If you have already created a simple demo, then I would like you to attack a feature request that will require you to submit a pull request to the Origami project. The first task was to get familiar with the project and see it's utility. Now there are various improvements to

[2017-03-09 14:27] Trion129 commented on #1
Hy @virajprabhu, I am very interested in Cloud CV for GSoC, I have experience of web development and ReactJS. I have worked with Tensorflow and Keras on some of my projects. I am interested in Fabrik because it is a great service that will make Deep Learning more accessible and working on it will be a great learning experience! :smile:

[2017-03-09 23:27] deshraj commented on #2
Hi @Ragib95 please see our GSOC website http://gsoc.cloudcv.org. There is a patch requirement for each project that you need to satisfy. Please see https://github.com/Cloud-CV/GSoC-Ideas/wiki/Patch-Requirement for more details.

[2017-03-16 22:00] kkrgithub commented on #4
Hello @dexter1691 , @deshraj
I am PG student & I would like to contribute for this project.
I have done python, django and javascript based project and a machine learning based project. And I have knowledge of deeplearning and completed some quick start tutorials on tensorflow and keras . And I am positive to learn other requirements too.
So do you guys think I can contribute ?

[2017-03-18 03:32] razat249 commented on #3
Hi @deshraj  Can you give some more details about this issue. I'm interested in this issue.

[2017-03-18 23:49] dexter1691 opened #7 "CloudCV Web App Redesign"
**Project Title:** Redesigning CloudCV using React + Django.

https://github.com/Cloud-CV/CloudCV

**Description:** CloudCV main website has a lot of legacy code that needs to be cleaned and needs a complete revamp. The goal of this project is to use best practices for deployment + operations and support all the other infrastructural needs for other projects like EvalAI, IDE, CV-fy etc.

**Deliver

[2017-03-21 16:54] iharsh234 commented on #7
@dexter1691  since there only one issue on main website , do i suppose to contribute on other repos like EvalAI and IDE. If possible can you assign me one.

[2017-03-22 13:45] amsonu commented on #1
Hello @deshraj  I am interested in being a part of this project.I know python and I basically work on data  analysis,data mining and machine learning.I am a newbie in GSOC and I seek help from the mentors.
Thanks.

[2017-03-22 19:04] evjak commented on #2
Hello! Can I work on CI/CD part?

[2017-03-22 19:06] evjak commented on #4
Hello! Can I work on CI part for this project?

[2017-03-22 19:08] evjak commented on #1
Hello. I can write a unit-tests if it possible

[2017-03-22 21:28] deshraj commented on #7
@iharsh234 yeah, Please look for other issues on other projects if available. :)

[2017-03-22 21:29] deshraj commented on #4
Hi @kkrgithub, you are most welcome to contribute to this project. You have the required skillset to contribute. Feel free to reach to us if you have questions.

[2017-03-22 21:30] deshraj commented on #4
Hi @esikachev, please check the open issues on the Repository's issues page. The above mentioned features are to be implemented during the course of summer.

[2017-03-23 06:14] evjak commented on #4
@deshraj On all issues with label "GSOC" is working other people

[2017-03-24 19:38] kakshay21 commented on #4
Hi there
I'm interested in this project and i've done few projects that contains both working with flask, django and also in ML stream like keras, tensorflow and theano though all are not huge as these.
So how should i proceed?
@deshraj  @dexter1691

[2017-03-29 14:53] Shashi456 commented on #7
what other issues can i look at?

[2017-03-30 06:07] deshraj commented on #7
@Shashi456 I think your problem is solved now. :)

[2017-03-30 06:19] Shashi456 commented on #7
@deshraj  yes thankyou , have i now cleared the patch requirement for gsoc can i go about trying to draft my application ?

[2017-03-30 06:25] deshraj commented on #7
Yeah please do. :)

[2017-03-30 11:04] umarbrowser commented on #1
Hello  @virajprabhu  I found this topic interesting and i want to apply for it

[2017-03-30 14:35] amittbhardwj commented on #2
Greetings, Right now I am occupied with my school examinations.
But, I plan to contribute to the CloudCV after April 2.
Is it okay to fulfil minimum patch requirement in the
week starting April 3?

[2017-03-30 16:33] deshraj commented on #2
HI @amittbhardwj, the patch requirement is not mandatory. It is just to make sure that you have a good sense of the projects going on. It would be great if you can submit patch ASAP after 3rd April.

[2017-03-30 16:34] deshraj commented on #1
Hi @umarbrowser, feel free to look for issues of this project on the issues page. Let us know if you  have doubts.

[2017-03-30 17:08] umarbrowser commented on #1
ok thanks i looks forward to it

[2017-04-01 17:49] yadavankit commented on #7
@dexter1691 @deshraj can you please give me an insight into this deliverable -

[2017-04-02 02:35] BoseSean commented on #1
Hi @virajprabhu ,
Could I join this project as part of GSoc?
I just started learning ML and I am a CS student.

[2017-04-02 12:48] Rebaiahmed commented on #4
Hi @deshraj  i'am tunisia student & i would like to contribute to this project , i have done angularjs , reactjs , python sickit-learn and tensorflow , and i'm currently following coursera machine learning course , and i would participate in Google summer code , i'm interested in your organisation and your projects , then do you think can i be accepted ?

[2017-04-02 13:29] Rebaiahmed commented on #7
@deshraj  i want to contribute to this project , please help me what i should do ?

[2017-04-02 16:49] ghost commented on #1
Hi @virajprabhu

Could I join this project as a part of Gsoc?
I am currently working with Convolutional Neural networks. I find this very interesting and a great area to work on !

[2017-04-02 17:02] manojbharadhwaj commented on #1
Hi @virajprabhu
Could I join this project as part of GSoc?

[2017-04-03 10:27] prasadwajekar commented on #1
Hi..
I am interested in this project...

[2017-08-06 20:03] HargovindArora commented on #7
Hello Sir! My key skills are Python and Django and improving further. I wanted to contribute to Cloud-CV. How can I start?
Thank You!

[2017-08-06 20:07] RishabhJain2018 commented on #7
Hello @HargovindArora You can get started using our Ideas page http://gsoc.cloudcv.org. To look for the issues you can jump to https://github.com/Cloud-CV.
Feel free to ask any doubt on the respective `gitter` channel. :)

[2017-08-07 05:37] HargovindArora commented on #7
Sure Sir. I'll be active on Gitter and now starting to search  for an issue.
Thanks.

[2017-08-09 16:17] guyandtheworld commented on #2
@deshraj Are the issues that are not striked off still available for taking?

[2017-08-09 16:25] RishabhJain2018 commented on #2
@isht3 Please take a look [here](https://github.com/Cloud-CV/EvalAI/issues) . You can take up any unassigned issue. :)

[2017-09-14 11:02] RishabhJain2018 opened #9 "Fix Typo in CloudCV description."

[2017-09-14 11:28] #9 closed, assigned to nobody

[2017-11-08 17:57] iteachmachines commented on #7
Sir i am very much interested in contributing in EvalAI can you please guide me about how to get started.And when i see the code i find it tough to understand.

[2017-11-08 19:08] RishabhJain2018 commented on #7
Hey @iteachmachines In order to get started with EvalAI, try setting up the project on your local machine by following the instructions in `Readme` file. After setting up, the next steps would be to look for the issues in the issues section of the repository or [this](https://github.com/Cloud-CV/EvalAI/issues?q=is%3Aopen+is%3Aissue+label%3Aeasy_to_fix) link for `easy` or `beginner` level issues. M

[2018-01-27 09:14] muddlebee opened #13 "Provide link to the page in readme"

[2018-01-27 11:13] RishabhJain2018 commented on #13
Thanks @anweshknayak for pointing this. We will update it in description :-)

[2018-01-28 16:54] utsavgarg opened #14 "Add support for different deep learning frameworks in Fabrik"
**Description:** [Fabrik](https://github.com/Cloud-CV/Fabrik) is an online collaborative web application for building and visualizing neural networks in the browser, aimed at lowering the barrier to entry to getting started with deep learning. We wish to create a model-agnostic platform which works with most popular deep learning frameworks and provides a seamless experience when trying to visuali

[2018-01-28 18:32] RishabhJain2018 commented on #13
Since we have updated the link. hence closing it :-)

[2018-01-28 18:32] #13 closed, assigned to nobody

[2018-01-28 18:33] RishabhJain2018 commented on #3
@deshraj I think there is no need of this now. Can I close it ?

[2018-01-28 19:40] RishabhJain2018 opened #15 "Implementing python package and REST APIs for EvalAI"
**Project Title:**  Implementing python package and new features for EvalAI

**Description:**
a) Currently, if someone wants to make a submission to a challenge on EvalAI then he has to login to EvalAI and upload a file. We want to make this process even easier for researchers who really like their terminal screen. The first main goal of this project is to create a python package for EvalAI which

[2018-01-28 19:48] RishabhJain2018 opened #16 "Port EvalAI from Angular 1 to Angular 5"
**Project Title:** Port EvalAI from Angular 1 to Angular 5

**Description:** The current frontend code of EvalAI uses Angular 1. We want to migrate it to Angular 5 since it brings a lot of new features which brings easy maintainability, better SEO etc. Some of the initial tasks include:

- Getting started with Angular 5
- Setting up EvalAI-ngx (https://github.com/Cloud-CV/EvalAI-ngx)
- Setup Docke

[2018-01-29 07:18] #3 closed, assigned to virajprabhu

[2018-01-29 07:23] #7 closed, assigned to nobody

[2018-01-29 07:23] #1 closed

[2018-01-29 07:23] #2 closed, assigned to deshraj, taranjeet

[2018-01-29 07:24] #4 closed, assigned to nobody

[2018-01-29 14:19] AvaisP opened #17 "Improve demo creation in Origami"
**Project Title:** Improve demo creation in Origami

**Description:**

Origami (previously called CloudCV-fy your code) is a AI-as-a-service solution that allows researchers to easily convert their deep learning models into an online service that is widely accessible to everyone without the need to setup the infrastructure, resolve the dependencies, and build a web service around the deep learning

[2018-01-29 14:59] iteachmachines commented on #7
Sure, thank you.

On Thu, Nov 9, 2017 at 12:38 AM, rishabhjain <notifications@github.com>
wrote:

[2018-01-30 11:37] muddlebee commented on #16
Hey @RishabhJain2018 @aka-jain @spyshiv

What are the things one should mention for this?

 ---
- What are you expecting out of a proposal?
- How accurate should it be, like how much information should be there for the ideas above?

Can you please elaborate.

[2018-01-30 13:08] guyandtheworld commented on #15
@deshraj  @RishabhJain2018 This sounds exciting! Wouldn't challenge creation using UI also be a good project for Summer of Code? I also would love to work on the EvalAI Python Package. :smile:

[2018-01-30 15:32] deshraj commented on #16
@anweshknayak: Thanks for your interest in this project.

We expect the following things from the student:
- Contributions in EvalAI-ngx repository (the todo list is out in the issue description) -- (**Remember: More the number of significant contributions, the more chances you have for selection**)
    - I would recommend to contribute in these areas in this project:
        - Help mentors in set

[2018-01-30 15:35] deshraj commented on #15
Hi @isht3, glad to hear that the project sounds exciting. Thanks for your interest in this project. :)

We already have a Github Pull Request for this feature but this is in review.

[2018-02-02 18:37] yashLadha commented on #16
Are you planning of using Django as backend server for providing REST API to the main frontend UI that is going to be supported by Angular 5. @deshraj

[2018-02-02 18:43] deshraj commented on #16
@yashLadha: that's correct.

[2018-02-02 18:44] yashLadha commented on #16
@deshraj  Is there any repository for the Django Server also like as there for Angular Frontend?

[2018-02-02 18:46] yashLadha commented on #16
Also @deshraj As I can see The Angular repository has no issues opened and it seems a fresh repo? So how to get started with the contribution? [Link](https://github.com/Cloud-CV/EvalAI-ngx)

[2018-02-02 18:49] deshraj commented on #16
Here is the repository that contains the REST APIs: https://github.com/Cloud-CV/EvalAI

Also, we will start adding issues to the repository in next 36 hours. Till then, I think you should explore the current https://evalai.cloudcv.org and see how would you implement the existing features in Angular 5.

[2018-02-02 19:00] yashLadha commented on #16
Thanks @deshraj Surely will try to contribute to the community. Thanks :smile:

[2018-02-11 17:17] dhruvdutt commented on #16
Why aren't we porting it to React? We have Fabrik, Origami already on React. I think it would better for us to switch between multiple projects if all have similar technologies.

[2018-02-11 18:31] deshraj commented on #16
@dhruvdutt: Good question. :)

We intentionally wanted to port this project to Angular 5 instead of ReactJS because of the following reasons:

1. We wanted to try a new framework for one of our project (in this case it is EvalAI)
2. The project maintainers are very much comfortable with Angular 5 which makes it easier to maintain the project and saves a lot of time for our organization.
3. It happ

[2018-02-12 18:55] kapilkd13 commented on #14
Hi @utsavgarg @deshraj  I am kapil. I found this project really interesting and relevant and would love to work on it as part of GSOC 2018. Last year I participated with Open Bioinformatics Foundation and worked on CWL- a workflow management tool. I have decent experience with TF and Pytorch and have been developing in Python since last couple of years.
It looks like this issue https://github.com/

[2018-02-14 06:28] meshubhama01 commented on #15
sounds exciting...
I have few suggestions though.
1.for participants- they can make their groups too for discussion
2.for host - 1.no. of the wrong submission should be recorded for each participant so that host can send
                   better-personalized email to participants.
                  2.can we afford to do more analytics(data) in order to have a more personalized feed for each

[2018-02-14 06:52] deshraj commented on #15
Thanks @meshubhama01 for the suggestions. I did really like the following two points:

participant.. fo e.g. the type of error they generally do or the type of problem they always
complete or the syntax error they tend to repeat....etc..?

Since the project is still evolving, so there are plenty of things that we can add. If you are planning to apply for this project idea, we would love to have se

[2018-02-14 07:14] meshubhama01 commented on #15
as this is my first time and I don't have friends in this area I am quite confused, how to apply for this project. any help?

[2018-02-14 07:18] deshraj commented on #15
I would recommend you to read the GSoC Manual here https://google.github.io/gsocguides/student/. This will give you a better idea how to start.

[2018-02-15 08:43] migom6 commented on #14
Hi,
I am Madhurjya Pegu, currently studying in Indian Institute Of Information Technology, Allahabad, India.
I am a full stack developer and I am familiar with the React ecosystem (redux/mobx/mst, react-native or any of the Elm based arch).
Since your project is based on web technologies, I am quite good at hacking things way out.
I have used both Pytorch and tensorflow and I am quite familiar wit

[2018-02-25 06:16] vasu-dev commented on #14
Hi @utsavgarg  @deshraj ,
I'm Vasudev Singh Yadav , a junior year undergrad at Delhi Technological University. I found this project interesting and would like to contribute to the same. I have been practising ML for around 1.5 years and is well versed in various deep learning frameworks and have good knowledge of Django.
Could you please suggest how to start.
Thanks for your time.

[2018-02-27 18:34] 5anthosh commented on #14
Hi @utsavgarg @deshraj ,
I am Santhosh Kumar, currently pursuing bachelor degree in computer science in India. I am Deep learning enthusiast and I love to design & build DNN .I would love to contribute this project . I taught myself machine learning and am looking  forward to learn more. I also developed some web applications in Django and also familiar with other web technologies. I am also famil

[2018-03-01 10:39] fenilsuchak commented on #14
Woah, this sounds interesting. I want like to contribute to this . Python , TF , Keras I work almost everyday. Django ocassionaly.
@utsavgarg

[2018-03-07 19:21] chiral-carbon commented on #14
Hey @utsavgarg!
I am a machine learning and deep learning enthusiast and novice, currently learning CNN and its applications. I am well-versed in Python and have worked on handwriting recognition and data classifiers, and loved this idea of making AI algos generally available and usable. I have worked with TensorFlow a little bit, but I'll pick it up quickly for this project. Would love to get the

[2018-03-08 16:23] jean72human commented on #17
Hi @AvaisP and @uttu357 . I am Gbètondji Dovonon.
I am a second year student in Ashesi University college in Ghana. I really find this project interesting and would like to contribute as part of the GsoC 2018. It is my first time participating in a GSoC.
I have a year of experience working either as a frontend developer (with react) or full stack (react + django + rest framework). I have never use

[2018-03-10 07:09] gupta-utkarsh commented on #17
@jean72human Check out the current issues open in Origami and you can start by fixing them and understanding how the application works. Try to host a demo on your local instance of Origami to get started.

[2018-03-12 17:24] tonysy commented on #14
Hi, @utsavgarg
I am a graduate student major in deep learning and computer vision. Cloud-CV is a great platform, which could give huge help to scientist and student in this area. I am working  on image recognition topic, include classification, detection and segmentation.
I am familiar with **Faster-RCNN** and **Mask-RCNN**, and I also have experience on image segmentation, by using **Deeplab** mo

[2018-03-14 15:37] rokysungkar commented on #17
Hi, @AvaisP @uttu357
I've planned to join GSoC 2018 and I'm very interested in this idea. I've read the proposal idea and decided that I want to join your idea. I know python and a little about Django, Docker, and AWS. I would love to the opportunity to discuss this idea with you and if you have advice for me for this idea I would appreciate it.

Best regards,
William Sungkar

[2018-03-14 21:46] gcmurillo commented on #15
I'm really interested in this project, in the API Rest especially, in the the coming days I will send my proposal for GSoC. I hope not so late :(

[2018-03-15 06:01] RishabhJain2018 commented on #15
Hi @gcmurillo , Thanks for your interest in this project. :)
No, you are not at all late for submitting the proposal. Looking forward to see your proposal soon!

[2018-03-15 18:49] miqianmimi commented on #14
Hi, @utsavgarg
I am a senior student major in Data Science in Fudan University. Now i am doing my graduate project in HKUST, I am familiar with Machine Learning ,Computer Vision, i have post one paper on ACM MM as the third author with my professor YanweiFu. https://www.semanticscholar.org/paper/Learning-to-Generate-and-Edit-Hairstyles-Yin-Fu/b72045dbbdc35bc777186025190a99acf202a1e6
For more infor

[2018-03-16 09:47] RadZaeem commented on #17
How many students can be accepted for CloudCV Origami? More than 1?

[2018-03-16 18:00] deshraj commented on #17
@RadZaeem:  It depends on the quality of the student applications. If we find more than 1 deserving candidates, we won't hesitate to select multiple students.

[2018-03-18 04:17] ashwinkjoseph commented on #17
Hi, I am Joseph Ashwin from Kerala. Currently a Full stack Developer with experience in Django, Laravel, Express.js, TypeScript, ReactJS, Flask, CodeIgniter.
I would like to participate in the GSoC 2018 and contribute to this project.
However, I am new to GSoC and I am a bit confused.  I have looked into the template given.
Do I choose an open issue of this project and submit my proposal based on

[2018-03-18 12:31] ashwinkjoseph commented on #17
Hi @AvaisP @uttu357 @deshraj , I am Joseph Ashwin from Kerala. Currently a Full stack Developer with experience in Django, Laravel, Express.js, TypeScript, ReactJS, Flask, CodeIgniter.
I would like to participate in the GSoC 2018 and contribute to this project.
However, I am new to GSoC and I am a bit confused. I have looked into the template given.
Do I choose an open issue of this project and su

[2018-03-21 05:54] utsavgarg commented on #14
Hi @kapilkd13 @migom6 @vasu-dev @santhoshkumarr1096 @Fenil3510 @chiral-carbon @tonysy @miqianmimi, thanks for your interest in CloudCV and particularly the Fabrik project.

You could start by setting up the development environment and submitting fixes for [issues](https://github.com/Cloud-CV/Fabrik/issues) marked with `starter-project`. An in-depth knowledge of ML/DL/CV is not a requirement for co

[2018-03-23 10:09] shujathkhan commented on #14
Hi @utsavgarg,
I'm Shujath, currently pursuing my final year at SRM University, I'm a machine learning and deep learning enthusiast. I'm also a contributor to open source projects.  I'm well-versed with React and Django. Would love to work on Fabrik and contribute to CloudCV as well.
You can check out my profile,
https://Shujathlive.github.io/backup-portfolio

Thank you!

[2018-03-23 19:44] husnainfareed commented on #14
Hi, @utsavgarg @deshraj I am Hussnain. I found this project really interesting and relevant and would love to work on it as part of GSoC 2018. I have some recent experience with TF, Keras and Pytorch and have been developing in Python since last years. Would love to work on Fabrik and contribute to CloudCV as well.
Thanks 😃

[2018-03-24 07:56] LuckyPigeon commented on #14
Hello @utsavgarg @deshraj I am a sophomore student who major in Computer Science in National Chi Nan University, I'm familiar with python, and take some course for AI, ML, DL using MXNET, and self learning using tensorflow and PyTorch for NLP and using OpenCV for CV, the laboratory of mine is web related, so I have some experience with sql using mysql and mssql, framework using drupal and web desi

[2018-03-26 20:09] saisusrith commented on #15
Hi @deshraj, I lived the key idea of the project and the way it saves a lot of time. I would love to work on the project as a part of summer of code.

[2018-03-27 02:07] advait-net commented on #15
hi @deshraj, i like the idea as probably this will make a common platform. I would love to work on this project as a part of summer of code. I hope i can submit the proposal by 21:30 today.

[2018-03-27 02:16] advait-net commented on #16
I would love to work as Google summer of code

[2018-09-18 19:14] dhruvdutt commented on #16
@deshraj Can you please give an update on the state of the migration process?

[2018-09-21 15:15] llucifer97 commented on #14
Hi, @utsavgarg  @deshraj  I am second year student at Birla Institute of technology , I am good knowledge of framework like tensorflow and keras,and some experience in pytorch.I would like to solve this issue ,Please guide how to get started .

[2018-12-27 18:53] pavanrkadave commented on #16
I would love to contribute if the issue is still open

[2018-12-28 18:04] RishabhJain2018 commented on #16
Hi @pavanrkadave yeah, it is still open. We have built a version V1 for it and we will be adding more features to it in this summer. Here is the repository link: https://github.com/Cloud-CV/EvalAI-ngx. Please feel free to pick up any issue you would like to work on.

[2018-12-28 18:16] pavanrkadave commented on #16
Hi @RishabhJain2018 Thanks for the info. i would love to contribute to it.

[2019-01-21 12:37] wadleo opened #19 "Issues for GSOC 209"
**Project Title: Issues for GSOC 2019**

**Description:** We need new issues for GSOC 2019, so potential students (like me) can know what projects to focus on and which issues to tackle for GSOC application.

**Deliverable:** List of issues

[2019-01-21 19:33] RishabhJain2018 commented on #19
Hi @wadleo , Thanks for your interest in the organization. We'll soon be releasing the ideas list. The issues for GSOC 2019 are already opened. You can search by tag `GSOC-2019` in EvaAI project. Also, do join our Gitter channel if you have any doubts/questions while setting up the project. Below are the links for it.
CloudCV: https://gitter.im/Cloud-CV/Lobby
EvalAI: https://gitter.im/Cloud-CV/Eva

[2019-01-21 21:22] wadleo commented on #19
Thanks @RishabhJain2018 your reply very much appreciated.

[2019-02-06 07:30] RishabhJain2018 commented on #16
Closing this issue since GSOC 2018 is over.

[2019-02-06 07:30] #16 closed, assigned to spyshiv, aka-jain, RishabhJain2018, shivaniprakash95

[2019-02-06 07:30] RishabhJain2018 commented on #14
Closing this issue since GSOC 2018 is over.

[2019-02-06 07:30] #14 closed, assigned to deshraj, utsavgarg

[2019-02-06 07:30] RishabhJain2018 commented on #15
Closing this issue since GSOC 2018 is over.

[2019-02-06 07:30] #15 closed, assigned to deshraj, spyshiv, RishabhJain2018

[2019-02-06 07:30] RishabhJain2018 commented on #17
Closing this issue since GSOC 2018 is over.

[2019-02-06 07:30] #17 closed, assigned to AvaisP, gupta-utkarsh

[2019-02-06 07:31] #19 closed, assigned to nobody

[2019-02-06 11:52] RishabhJain2018 opened #20 "Evaluating submission code in Docker containers"
**Project Title:** Evaluating submission code in Docker containers on EvalAI

**Description:**

The rise of reinforcement learning based problems or any problem which requires that an agent must interact with an environment introduces additional challenges for benchmarking. In contrast to the supervised learning setting where performance is measured by evaluating on a static test set, it is less s

[2019-02-06 11:57] krtkvrm commented on #20
@deshraj @RishabhJain2018 @fristonio
This sounds exciting!  I also would love to work on this project. 😄

[2019-02-06 11:58] RishabhJain2018 commented on #20
Thanks for your interest @vkartik97! Looking forward to your GSOC Proposal :)

[2019-02-06 16:25] RishabhJain2018 opened #21 "Enhance UI/UX of EvalAI"
**Project Title:** Enhance UI/UX of EvalAI

**Description:**

This will focus on improving the existing UI of EvalAI to improve the experience of both challenge organizers and participants. We also want to improve the discoverability of all the features that are supported on EvalAI. With the increase in the number of users of on EvalAI, it is critical to have a frictionless and intuitive user expe

[2019-02-06 16:44] RishabhJain2018 opened #22 "Implement robust evaluation pipeline in EvalAI"
**Project Title:** Implement robust evaluation pipeline in EvalAI

**Description:**

Currently, the submission worker that evaluates the challenge requires manual scaling. Moreover, logging & metrics-monitoring isn’t available to the challenge hosts for the submission worker in real-time. Also, an often requested feature by the challenge organizers has been the ability to test their competition pa

[2019-02-06 16:48] vkartik97 commented on #22
@RishabhJain2018 @deshraj @Ram81
Can we submit proposal for more than 1 Project Ideas?

[2019-02-06 17:02] RishabhJain2018 opened #23 "New frontend for EvalAI based on Angular 5"
**Project Title:** New frontend for EvalAI based on Angular 5

**Description:**

EvalAI’s current frontend is setup using Angular 1 which is not maintained by the community actively. Angular in the later versions support really nice features like better SEO, client-side rendering, etc. We want to migrate the current codebase in Angular 5 with a new design and achieve feature-parity. The first half

[2019-02-07 01:48] kurianbenoy commented on #22
@deshraj @RishabhJain2018 @Ram81 this idea looks amazing. I am looking forward to work on this issue

[2019-02-07 09:07] RishabhJain2018 commented on #22
Awesome! Looking forward to your GSOC Proposal @kurianbenoy :)

[2019-02-12 07:45] nikhilmudholkar commented on #21
@RishabhJain2018 If at this point I am somewhat inclined towards this idea, the should I focus on solving issues related to UI changes only or any issues would do?

[2019-02-12 16:06] adi0509 commented on #20
I am also interested, but have knowledge of python and some basics of docker. I am a beginner but interested in this.

[2019-02-12 16:20] fristonio commented on #20
Thanks for your interest in the project @adi0509
The project is mostly around docker so I would recommend you to familiarize yourself with AWS and docker ecosystem. Here are some links for the same.
* https://labs.play-with-docker.com/
* https://github.com/open-guides/og-aws

Let me know if you have some specific doubts.

[2019-02-12 17:26] adi0509 commented on #20
@fristonio Thanks for your suggestion. I will surely follow it.

[2019-02-12 20:59] RishabhJain2018 commented on #21
Hi @nikhilmudholkar, solving issues related to the frontend will definitely give you an edge if you are thinking of a GSOC proposal for this idea.

[2019-02-13 03:18] Helinia commented on #20
@deshraj @RishabhJain2018 @fristonio Thank you all for your kind help! I am interested in this topic and will look into it. Cheers!

[2019-02-13 07:23] nikhilmudholkar commented on #21
Thanks @RishabhJain2018
At this point, I already have an issue assigned (displaying Pk in challenges admin table). I'll start working on UI related issues once I am done with this issue.
In the meantime, it would be very helpful if you can assign any issues related to this idea to me.
Thanks a lot

[2019-02-16 19:50] RishabhJain2018 commented on #20
Hi @Helinia, Thanks for your interest. Looking forward to your proposal.

[2019-02-18 16:41] rohitjha941 commented on #23
Can i work on this

[2019-02-22 13:43] chidauri commented on #20
Hi @RishabhJain2018 ,i am interested in this topic want to contribute, i do not fulfill all the prerequisites though :(

[2019-02-22 19:40] Shekharrajak commented on #23
Hi,

I thinnk required skills should be :

**Skills:** Angular 2/4/5, HTML, CSS, Typescrip

instead of this :

**Skills:** AngularJS, HTML, CSS, Typescript

Because there is a lot of difference between AngularJS and Angular 2/4/5.

[2019-02-22 19:44] GrayR00t commented on #22
Hi Rishabh,
This Neeraj from IIT Bhubaneswar, I will like to contribute in it please guide me on the way.

[2019-02-23 07:51] mrkarna commented on #22
Hi @RishabhJain2018 I wish to contribute to EvalAI in GSoC 2019. Can you help me how to get started?
Thanks

[2019-02-26 21:47] knrt10 commented on #23
Sounds like a fun project to work on.

[2019-02-27 04:49] sanyamdogra commented on #23
Looks interesting!

[2019-02-27 06:09] Abhi58 commented on #23
Hi, Can i Work on this? I have experience in Full stack development, basically Angular 4, HTML5 & CSS3 and Typescript.

[2019-02-27 13:21] sanyamdogra commented on #23
@shivaniprakash95 will we work on EvalAI-ngx Github repository for EvalAI using Angular? For an angular person there are no issues to solve?

[2019-02-27 13:39] Shekharrajak commented on #23
I can see enough open issues to fix : https://github.com/Cloud-CV/EvalAI-ngx/issues

[2019-02-28 12:14] yashbhutoria commented on #20
Hi, @RishabhJain2018 I have good knowledge of Azure Enterprise Cloud and Python and Docker. I Believe I can contribute to this one.

[2019-02-28 16:59] Sanji515 commented on #21
@RishabhJain2018 This looks amazing, I'm excited and would love to work on this.

[2019-02-28 19:37] cyphysan commented on #20
@fristonio @RishabhJain2018 Hi, just a quick question. What level of comfort with Django would this demand? And on that note, for someone fairly proficient in Python, what would be efficient way to pick it up to that level?

[2019-02-28 19:42] sanjaymaniam commented on #20
@fristonio @RishabhJain2018 Hi, this seems pretty interesting! Just a quick question. What level of comfort with Django would this demand? And on that note, for someone fairly proficient in Python, what would be an efficient way to pick Django up?

[2019-03-01 18:58] krritik commented on #20
This looks cool and I would love to work on this project.

[2019-03-03 21:24] navneel99 commented on #22
@RishabhJain2018 @Ram81 I am interested in this idea. I would love to work for GSOC 2019 on this issue. I am familiar with Django and have a basic idea about Docker.

[2019-03-06 20:45] shaunak-badani commented on #21
Hi. I would like to work on this. I have a lot of experience in UI/UX development. Have a lot of experience working with React, so Angular won't be a problem.

[2019-03-06 22:36] live-wire commented on #21
@shashaBot @Sanji515 @shaunak-badani Thank you for the interest 😄 Feel free to open Pull Requests for any of the open issues.

[2019-03-07 06:31] RishabhJain2018 commented on #21
@shashaBot @nikhilmudholkar @Sanji515 @shaunak-badani Adding to what @live-wire said, you can also fix the issues listed in the deliverables above, even if there are no issues for it.

[2019-03-07 10:09] Aaryaman09 commented on #20
Hi Everyone, i liked the project and i'm very much excited to contribute in it.I have intermediate knowledge of python and beginner of docker. @RishabhJain2018 Please provide me with the link (if required) so i can catch up to the pace.Thank you

[2019-03-07 16:53] KhalidRmb commented on #22
@RishabhJain2018 @Ram81 @deshraj This is exciting and am interested in the idea! To get familiar with the requirements, can we go ahead and make PRs relevant to this? (As is recommended in the UI ideas for GSoC.)

[2019-03-11 17:13] anunay999 commented on #22
Hey @RishabhJain2018 @deshraj @Ram81 I'm very excited to work on this issue. I'm good in Python and worked on AWS and familiar with dockers. This is my first GSoc and your guidance would help me get started.

[2019-03-11 19:27] RishabhJain2018 commented on #23
Hi, @Abhi58 @sanyamdogra @knrt10 Please feel free to solve any of the deliverables as an issue and open a PR for the same.

[2019-03-11 19:29] RishabhJain2018 commented on #20
Hi @yashbhutoria @cyphysan @krritik @Aaryaman09 Thanks for your interest and looking forward to your GSoC proposals.

[2019-03-11 19:32] RishabhJain2018 commented on #20
@cyphysan We don't demand a student to be an expert but should have a basic understanding of the concepts and workflow in Django. In order to get started with Django, please refer to the documentation and its tutorial app.

[2019-03-11 19:34] RishabhJain2018 commented on #20
@Aaryaman09 What link are you talking about? Please join the gitter channel in order to stay updated with the project.

[2019-03-11 19:35] RishabhJain2018 commented on #22
Hi, @GrayR00t @mrkarna @navneel99 @KhalidRmb @anunay999 Thanks for your interest in the project. Looking forward to your GSoC Proposal.

[2019-03-11 19:37] RishabhJain2018 commented on #22
@navneel99 Please start by setting up EvalAI on your local machine and then start solving `good-first-issue` or `GSOC-2019` issues.

@KhalidRmb Yes.

[2019-03-13 17:51] mani1soni commented on #20
Hey @RishabhJain2018 i liked the project. I am intermediate in docker,aws and python. i would love to work on this project.

[2019-03-13 22:44] fristonio commented on #20
Thanks for your interest @mani1soni looking forward to your proposal.

[2019-03-17 05:04] vardotexe commented on #20
Hey, @RishabhJain2018 I really liked the project. I did work on docker and python but intermediate in aws.
I would  Love to contribute.

[2019-03-17 16:54] piyush97 commented on #21
Looks great

[2019-03-19 06:49] 9916103020 commented on #20
Hey,@RishabhJain2018 I really liked the project. I have done mt last project on Django, python and this time I am working on aws but I am intermediate in docker. I would love to contribute.

[2019-03-19 08:40] theodore3131 commented on #20
Hi, @RishabhJain2018  I am interested in this project. I have worked on CI/CD pipeline with Docker during my internship in RedHat and I am familiar with python. (But starter in Django). I have worked on some research in deep learning and I am happy to contribute.

[2019-03-20 12:00] shiv6146 commented on #22
@RishabhJain2018 @Ram81 @deshraj Sounds interesting! I would like to work on this project :+1:

[2019-03-20 22:21] rithvikgujjula commented on #21
@RishabhJain2018  I would like to create a news page for EvalAI

[2019-03-25 20:06] RishabhJain2018 commented on #21
Looking forward to your proposal @piyush97 !

[2019-03-25 20:06] RishabhJain2018 commented on #21
looking forward to your GSoC proposal @piyush97!

[2019-03-25 20:07] RishabhJain2018 commented on #22
Hi, @shiv6146 Looking forward to your GSoC proposal!

[2019-03-25 20:09] RishabhJain2018 commented on #20
Hey @NagpalVarun, @9916103020, @theodore3131 Thanks for your interest in the project. I'm looking forward to your GSoC proposals. Please feel free to share with us so that we can review before the final submission to google.

[2019-03-26 06:27] Shekharrajak commented on #23
I have few ideas in mind, I want to discuss it here :

- [Angular 8 beta version](https://github.com/angular/angular/releases) has been released, so it would be better we start thinking about the Angular 7 (stable version) project. So either student can upgrade the Application to angular 7 first and then work on deliverables **or** work on deliverables while keeping in mind, Angular 7 upgrade (mea

[2019-03-26 12:03] Dday09 commented on #21
That exactly fits my domain of interest! Just a bit late to the party.....

[2019-03-26 14:39] piyush97 commented on #21
Yes

[2019-03-26 18:00] RishabhJain2018 commented on #21
Welcome to CloudCV @Dday09. Looking forward to your GSoC proposal.

[2019-03-26 18:21] RishabhJain2018 commented on #23
Thanks, @Shekharrajak for keeping all these points.

I think we should go with the former approach you proposed.

I totally agree with the rest 3 points you added.

this Angular 5 EvalAI project (maybe we can add it here as low priority tasks)?

Sure, we can add those.

[2019-03-26 19:45] yashdusing commented on #20
@RishabhJain2018 Why does the participant provide the docker container for evaluating the code? I mean, the submission of model file could have a predict method which could be used instead and the evaluation code docker container can be provided by the challenge host
(Also, the context of user in the description is related to challenge host or participant ?)

[2019-03-26 20:08] deshraj commented on #20
@yashdusing please read section 6.2 of this paper https://arxiv.org/pdf/1902.03570.pdf. This will clear your doubt. :)

[2019-03-26 20:28] yashdusing commented on #20
So, the participant submits the same docker image with prediction code which he used for training (with little changes but the underlying API for simulation of environments stays the same. The only change is in the environment files)?
If so, I wrongly assumed that the challenge host specifies the docker image. But, the latter approach could actually abstract the details of the implementation from

[2019-03-28 01:32] kelvin169 commented on #21
When it comes to working on Such a UI/UX project i always like documenting my work as well as commenting on my codes to make it easier should anyone else ever need to change some aspects of my work. second I think the overall user experience always goes hand in hand with a good user interface. If i get to work on this my main emphasis will be on ensuring all the bits and pieces fit together.
And f

[2019-03-28 07:39] Shekharrajak commented on #23
Hello Students,

I hope you are aware of application submission deadline which is 9th April 2019. But I will recommend you to collect all your thoughts and write it down steps by steps in you draft proposal as soon as possible , so that you can share it with us.

- You will get reviews and clear cut idea about the project deliverables and mentors expectation.
- It will be helpful to you to check,

[2019-03-28 12:51] padegalmadhuri commented on #23
Hi, I am having the experience in the service worker and hosting plan. Can I work on the issue how to load the website faster?

[2019-03-28 13:07] Shekharrajak commented on #23
@padegalmadhuri , Nice! You can collaborate with PR https://github.com/Cloud-CV/EvalAI-ngx/pull/101 author , if you want to add other idea/approach, then go fot it.

[2019-03-28 14:36] lunayach commented on #23
Sure @padegalmadhuri, Website's loading speed is very important for the project.  Looking forward to your proposal!

[2019-03-28 16:18] cristomathew commented on #20
Hi, Im intrested in this project, I know some basics of Aws(worked on it during my first internship at TCS) , I am familiar with python and kinda starting with Django

[2019-03-29 20:09] zduymz commented on #20
I would love to join in this project. Could someone show me where can i start digging in because this is my first time to GSOC.

[2019-03-30 13:05] KhalidRmb commented on #22
Hi! Had some queries, and it would be very helpful if the mentors can help me navigate them.

- Regarding **scaling the workers from 1 to x by the challenge host**:  I gather it is necessary for _docker-based challenges_ where the host wants to test the submission against diverse environments with different requirements in each worker container.
    - In which case, the host must specify the confi

[2019-03-30 19:54] KhalidRmb commented on #22
Regarding **shifting to Fargate**:
- Is only the submission worker to be shifted or the Django container along with it? Because based on incoming traffic to the Django app, Fargate will autoscale the task _(which could be based on a single task definition of 2 containers- Django & the Worker)._

- If scaling the worker alone, we could define a new task definition only for the worker and use `deplo

[2019-03-31 15:05] KhalidRmb commented on #22
Regarding the task **Provide naming for worker containers for different challenges**, there already is a mechanism for that in the `deploy.sh` file here:

https://github.com/Cloud-CV/EvalAI/blob/82dfe27173893fcb3c8ed5b3e09dcd42d365b211/scripts/deployment/deploy.sh#L79

Could you please provide some clarity regarding the task?

[2019-04-03 19:49] KhalidRmb commented on #22
@RishabhJain2018 @deshraj @Ram81 Could you please take a look at these, and the doubts I've asked on Gitter? The proposal deadline is very near. Thanks!

[2019-04-06 09:01] 9916103020 commented on #20
@zduymz Firstly become familiar with the whole idea of the project using this link:https://arxiv.org/pdf/1902.03570.pdf
and then see the template of the GSoC 2019 link:  https://github.com/Cloud-CV/GSoC-Ideas/wiki/GSOC-2019-Proposal-Template

[2019-04-06 17:59] 9916103020 commented on #20
Hello Sir,
Divyansh Here @deshraj  @RishabhJain2018 @Ram81 @fristonio Could someone please review my proposal? Only a few days are left so it would be really helpful if someone could give feedbacks.
Thanks in advance.

[2019-04-07 16:14] 9916103020 commented on #20
Sir, would you please reply?

[2019-04-08 07:54] RishabhJain2018 commented on #22
Hi @KhalidRmb,

What if a challenge host wants to parallelize the submission processing for the non-docker based challenges?

I didn't get what you meant by `speed` here but the idea is to parallelize the submission processing near the challenge end date so that more people can submit to the challenge.

For now, we're focussing on the worker container only.

Could you please help clarify the situa

[2019-04-08 07:58] KhalidRmb commented on #22
This is what I meant itself. Thanks.

[2019-04-09 09:53] mallick370 commented on #23
https://github.com/mallick370/EvalAI

I just made a prototype of the landing page before starting the project. Please review it and I am eager to know your views

[2019-04-09 13:38] Shekharrajak commented on #23
@mallick370 so it is written in pure HTML,CSS and plane JS ?

[2019-04-09 14:45] mallick370 commented on #23
@Shekharrajak Yes

[2019-05-08 10:59] aditban commented on #21
Hi, I'm Aditya. I am studying bachelor in design from Delhi technological university, my specialisation is interaction design I would love to design a beautiful and user-friendly UI for this project but the issue is I am still learning front end development. should or can I apply for this project?

[2019-05-08 21:24] asamirr commented on #22
@RishabhJain2018 What level would you say this project is? How good should I be with the stack mentioned? What are the stuff I should really know before I start working on it? I know it's GSoC-related but I was just thinking that I'm gonna get it a try for fun and experience?

[2019-08-11 15:54] seeni-dev commented on #20
I am starting to work on this. If anyone is already working on this, ping me.

[2019-10-18 18:52] kumarrajan4264 commented on #21
@RishabhJain2018 I would like to work on this. can I apply for this project???

[2020-01-22 17:40] spectre1811 commented on #20
@RishabhJain2018
is the issue still open for GSOC'20 or we'll have to wait for some other issues?

[2020-01-25 23:09] RishabhJain2018 commented on #20
Hi @spectre1811 , Thanks a lot for your interest in the organization. We will be opening new issues for this year's GSoC.

[2020-01-25 23:10] #20 closed, assigned to fristonio

[2020-01-25 23:10] #23 closed, assigned to RishabhJain2018

[2020-01-25 23:10] #22 closed, assigned to Ram81

[2020-01-25 23:10] #21 closed, assigned to RishabhJain2018

[2020-02-05 15:09] Sanji515 opened #25 "Enhancements in code upload pipeline"
**Project Title:** Enhancements in code upload pipeline

**Description:**

As EvalAI hosts more code-upload challenges and researchers utilizes our modular kubernetes based infrastructure for hosting these challenges, we would like to automate this pipeline as much as possible to enhance user experience. During GSoC 2019, we built this pipeline for evaluating AI model’s code by running it against

[2020-02-05 15:30] Sanji515 opened #26 "Analytics Dashboard for EvalAI Admin, Challenge hosts & Participants"
**Project Title:** Analytics Dashboard for EvalAI Admin, Challenge hosts & Participants

**Description:**

As the number of compute-intensive challenges on EvalAI are increasing, we want to focus on improving the performance of our services. As a first step, we will focus on monitoring and measuring all key metrics of our services. Insights from these will allow us to efficiently utilize our infra

[2020-02-05 15:32] Sanji515 opened #27 "Streamlining challenge creation on EvalAI"
**Project Title:** Streamlining challenge creation on EvalAI

**Description:**

EvalAI is a platform to host and participate in AI challenges around the globe. To host a challenge, challenge creation is one of the core features which is utilized by challenge hosts to create AI challenges. The idea is to use private GitHub repositories to host the challenge files instead of the zip file. The next s

[2020-02-05 15:35] Sanji515 opened #28 "Improvement in EvalAI Frontend"
**Project Title:** Improvement in EvalAI frontend

**Description:**

As a part of last year’s GSOC, we took the first step towards modernizing our UI which involved shifting the current codebase from Angular 1 to Angular 7. As we’ve reached the feature parity with the existing UI, this project will involve fixing the last remaining kinks in the UI and incorporating latest UI feedback which we have

[2020-02-07 13:03] Ayukha commented on #25
@RishabhJain2018 @vkartik97 This sounds exciting.  I also would love to work on this project.

[2020-02-07 16:29] RishabhJain2018 commented on #25
Thanks, @Ayukha for the interest. Looking forward to your proposal.

[2020-02-08 12:15] spectre1811 commented on #27
Hello @Ram81! I'd love to work on this proposal as a part of GSOC'20.

[2020-02-08 17:48] gauravsomani336 commented on #25
@RishabhJain2018  @vkartik97  this project looks very interesting. from where can I start contributing to this project. I can't seem to understand if I cm good enough to contribute to this project. I am well versed in python. your help would be really appreciated

[2020-02-10 18:46] abhinav9414 commented on #25
@RishabhJain2018 @vkartik97 this is interesting. I would like to join this kind of project.

[2020-02-10 19:49] RishabhJain2018 commented on #27
Hi @spectre1811, Thanks a lot for your interest in the project. Looking forward to your proposal.

[2020-02-10 19:53] RishabhJain2018 commented on #25
Hi @gauravsomani336, Welcome to CloudCV!
You can start on this project by setting up the development environment for EvalAI and looking into the issues which you can solve.

[2020-02-10 19:54] RishabhJain2018 commented on #25
Hi @abhinav9414, Welcome to CloudCV and thanks a lot for your interest. Looking forward to your contribution and the GSOC proposal.

[2020-02-11 09:53] Kajol-Kumari commented on #28
Hello Mentors! @Sanji515 @RishabhJain2018 @lunayach. I would like to work on this as a part of GSOC'20.

[2020-02-11 11:12] Sanji515 commented on #28
Thanks @Kajol-Kumari for your interest. Looking forward to your contributions and GSOC proposal.

[2020-02-11 12:20] yashdusing commented on #25
@RishabhJain2018 @vkartik97 This looks amazing. Looking forward to contribute

[2020-02-11 13:14] Shekharrajak commented on #28
Just want to add few important things in the above task list:

* Last year GSoC (2019) we worked on upgrading the Angular version to 7. It is always good to upgrade the version because it comes with new features, improvements in performance. We can see that [Angular 9 is out](https://blog.angular.io/version-9-of-angular-now-available-project-ivy-has-arrived-23c97b63cfa3) so we should work on to up

[2020-02-11 13:46] Kajol-Kumari commented on #28
@Sanji515 Can you please help me to clarify whether you are taking about the contribution related to this particular idea or any contribution related to EvalAI?

[2020-02-11 14:09] RishabhJain2018 commented on #28
Hi @Kajol-Kumari ,

If you're planning to submit a proposal for this idea, we would like to see a few contributions in EvalAI-ngx (for frontend) repository along with EvalAI (for backend).

[2020-02-11 14:11] RishabhJain2018 commented on #25
Hi @yashdusing, Thanks a lot for your interest in the project. Looking forward to your GSoC Proposal.

[2020-02-11 14:13] Kajol-Kumari commented on #28
Okay @RishabhJain2018 . Thank you for clarification.

[2020-02-11 14:36] Shekharrajak commented on #26
Points that can be discussed in front end side (can be added in idea list: https://github.com/Cloud-CV/GSoC-Ideas/issues/28 as per this enhancement ):

- If I am correct then currently we have the roles (users, host users, admin), so increasing number of roles come with security issues and the application should be capable enough to authenticate each user, get role for the user and authorize to sh

[2020-02-12 13:33] sseth99 commented on #28
Hello Mentors and participants!
I would like to work with CloudCV on this project as a part of GSoc' 2020.

[2020-02-12 13:51] sraghuvanshi commented on #28
Hi Mentors!  @RishabhJain2018 @Sanji515 @lunayach
Hope you'll are having a great day 💯

First of all congratulations and thank you all for working on such a great initiative. EvalAI is a great project, it really standardize the process of evaluating different methods on a dataset and makes it easier to host a competition.

I'm a sophomore, studying in JSS, Noida. I'm a member of Nibble Computer So

[2020-02-12 16:22] RishabhJain2018 commented on #28
Hi @sseth99 & @sraghuvanshi, Welcome to CloudCV! Looking forward to your contributions and GSoC Proposal.

[2020-02-13 19:34] madrix01 commented on #27
Hello @Ram81 , I would like to contribute to the CloudCV as a part of GSOC'20 , I have fair knowledge about Django, Rest-apis and python. Can you help me getting started?

[2020-02-20 20:16] ankitjain28may commented on #25
Hi, I am interested in mentoring this project along with other mentors, Do we have more explanatory docs regarding the infrastructure we currently have, any diagrams so we can have more understanding of the project.

[2020-02-20 20:28] RishabhJain2018 commented on #25
Hi @ankitjain28may, Welcome to CloudCV! and thanks for reaching out. Please fill [this form](https://forms.gle/HzHSFECMwQ5yRKjT8) for mentoring this year with CloudCV and we will reach out to you in a few days.

[2020-02-25 16:44] the-utkarshjain commented on #28
Hi mentors! @Sanji515 @RishabhJain2018 @Shekharrajak @lunayach
I'm Utkarsh Jain, a third-year student at IIT Mandi and I'm interested to contribute to EvalAI. Just one doubt. Is it mandatory to fix an issue labeled with GSOC-2020 or can I fix any open issue?

[2020-02-25 17:18] lunayach commented on #28
Hi @the-utkarshjain! Feel free to open a relevant issue and fix it. Looking forward to your proposal!

[2020-03-08 17:54] danielrs975 commented on #28
Hi mentors, @Sanji515 @RishabhJain2018  @Shekharrajak  @lunayach  I'm Daniel Rodriguez, a first year master in Computer Science Student at Télécom SudParis, France. I'm really interested in participating in this project. Where can I see the open issues for this project?

[2020-03-09 05:26] Shekharrajak commented on #28
Hi @danielrs975 , Happy to hear that you are interested for the project. I hope you have read the idea description and understood the overview of the project . You can find the the repo link in description: https://github.com/Cloud-CV/EvalAI-ngx

You can see the open issues and pick (may be easy to fix issue first), to understand the codebase after you go through the [development setup](https://gi

[2020-03-12 17:44] Aakash1822 commented on #26
Interested to work on this project. Please guide me where to start

[2020-03-13 09:02] Kajol-Kumari commented on #28
Along with breaking down the main app-module, we should also keep the separate routes for the modules as currently [app-module](https://github.com/Cloud-CV/EvalAI-ngx/blob/master/src/app/app-routing.module.ts) module contains all the routes as it will make the routing file cleaner and organized.

Also currently, the pagination is not working in the participants an host page. So, we can implement t

[2020-03-13 13:46] Shekharrajak commented on #28
Thanks for noting down the points. It would be great if you try out (or open a discussion issue) each of the tasks. You can discuss your implementation plan there (or may be open  a  WIP tag PR), to show case rough idea what & how you want to achieve it.

Keep committing :)

[2020-03-14 07:57] Shekharrajak commented on #26
@Aakash1822 , Go through the contribution & development guidelines. To understand the codebase I would suggest you to start fixing small easy to fix bugs in issue list then continue with task list.

[2020-03-16 18:20] mrinalwahal commented on #27
Hey @Ram81 and @RishabhJain2018 ,

I've tried reaching you through emails, however, I failed at it. Therefore, writing my queries here itself. I'm writing this to inform that I'm quite interested in this GSoC project.

I've worked on a quite similar GSoC project last year as well for INCF, Germany, wherein the end goal was more or less similar to this one, and since I quite enjoyed working on that

[2020-03-17 13:07] sulabh2000 commented on #25
@RishabhJain2018 @vkartik97 Great idea...interested in contributing to this.

[2020-03-17 15:59] MichaelNkrumah commented on #25
I'm Scared tackling this project I don't have enough knowlegde on this structure, yet I want to contribute...

[2020-03-20 03:21] chialin-liu commented on #25
@RishabhJain2018  I had the experience of building multiple container apps using docker and developing backend system in django. I am very interested in this project

[2020-03-21 07:50] Shekharrajak commented on #26
Hello, Students!

I am continuously getting messages in different platforms(linkedin/gitter, etc) about the application review or discussion. It would be better if student create a mail thread in google group: https://groups.google.com/forum/#!forum/cloudcv and cc all the mentors. It will help to know everyone about the idea, proposal and we can easily correct you or provide the right direction to

[2020-03-21 07:51] Shekharrajak commented on #28
Same comment as here: https://github.com/Cloud-CV/GSoC-Ideas/issues/26#issuecomment-602010186

Hello, Students!

I am continuously getting messages in different platforms(linkedin/gitter, etc) about the application review or discussion. It would be better if student create a mail thread in google group: https://groups.google.com/forum/#!forum/cloudcv and cc all the mentors. It will help to know ev

[2020-03-22 13:52] Shekharrajak commented on #26
@adityaketkar, Since I am not able to comment on your PDF application, I am pasting the comments here:

- You can write some sample definition along with test method signature.

- Is there only those APIs or there is more?

- For which role which dashboard will be shown? Admin, candidate, challenge host user ?

- Improve the overall task list - you can provide your ideas

- Your any Open PRs or an

[2020-03-22 17:30] AkashDPA commented on #26
Hello members,
I can't able to reach at mailing list so i am writing here.
I have some experience with API and also have submitted research paper to optimize it.
I want to contribute for Eval Admin, currently doing installation but I have some question regarding feature and technology stack, can anyone guide me?

[2020-03-22 18:06] Shekharrajak commented on #26
Hi @AkashDPA , Feel free to ask questions and let us know your research on the idea.

[2020-03-24 04:21] AkashDPA commented on #26
Research is about optimizing API signature validation, regular API uses the timestamp method to generate a unique signature and to validate it takes more server resources. for this, I have come up with a solution.

[2020-03-25 07:14] AkashDPA opened #33 "Which database used for Analytics Dashboard for EvalAI Admin, Challenge hosts & Participants"
Which database is used? Is it postgreSQL or MySQL?

[2020-03-28 08:43] #33 closed, assigned to nobody

[2020-03-28 08:46] AkashDPA commented on #26
Can I have docker image, I am getting following error each time, may be because heavy load (due to lockdown) but it lasts 2 days

[code]

[2020-03-31 08:47] Rubix982 commented on #25
Highly interested in this project, as it relates to my ML background, but on a deployment level as well .Although I'm not familiar with Kubernetes and AWS, it's something I believe I can pick up pretty quickly. Never got to learn them because I never really found a use case for them in my day to day knowledge up till now.
Experience wise, I think this would be good start for me. I have familiarity

[2020-03-31 08:53] Rubix982 commented on #27
Hi @Ram81  and @RishabhJain2018 ,
Sounds pretty cool, yet ambitious. I'm willing to take part in this if I do not qualify for the 'code pipeline' idea.
As for my skill level, I can take on Python, Django. CI/CD tools is something I have yet to learn. Should definitely get to learning that.

[2021-02-19 13:49] Ram81 opened #35 "Monitoring setup for EvalAI admins"
**Project Title:** Monitoring setup for EvalAI admins

**Description:**

As the number of challenges on EvalAI are increasing, we want to focus on improving the performance of our services. As a first step, we will focus on monitoring and measuring all the key metrics of our services. Insights from these will allow us to efficiently utilize our infrastructure, improve uptime and reduce costs. The

[2021-02-19 13:53] Ram81 opened #36 "Static code upload challenge evaluation and enhancements in GitHub based challenge creation"
**Project Title:** Static code upload challenge evaluation and enhancements in GitHub based challenge creation

**Description:**

EvalAI is a platform to host and participate in AI challenges around the globe. To a challenge host, reproducibility of submission results and privacy of the test data are the main concerns. Towards this, the idea is to allow users to submit a docker image for their mod

[2021-02-19 13:55] Ram81 opened #37 "Analytics dashboards for challenge hosts and participants"
**Project Title:** Analytics dashboards for challenge hosts and participants

**Description:**

This project will involve writing REST API’s, plotting relevant graphs and building analytics dashboards for challenge hosts and participants. The analytics will help challenge hosts view the progress of participants in their challenge -- for instance, comparing the trends of the accuracy from participa

[2021-02-19 13:59] Ram81 opened #38 "Improvements in EvalAI frontend"
**Project Title:** Improvements in EvalAI frontend

**Description:**

After last year’s GSOC, we’ve reached feature parity on EvalAI-ngx with the existing UI, this project will involve fixing the last remaining kinks in the UI. The goal of this project would be to improve the new UI as we replace the existing UI with the new UI before GSOC. We will be improving on the new UI and incorporating the

[2021-02-19 14:56] #25 closed, assigned to krtkvrm

[2021-02-19 14:57] #26 closed, assigned to RishabhJain2018

[2021-02-19 14:57] #27 closed, assigned to Ram81

[2021-02-19 14:57] #28 closed, assigned to Sanji515

[2021-02-24 07:54] afif-fahim commented on #35
@deshraj, @RishabhJain2018, @Ram81 Hi mentors. This idea seems very interesting to me. I would love to contribute to this issue!

[2021-03-04 18:11] Shivani-Goud commented on #38
@Ram81 I'm interested in working in these issues. Can I get a task assigned and  directions on getting started ? I can start off with "Show progress bar when a participant is uploading a submission from UI."  task .

[2021-03-04 18:43] RishabhJain2018 commented on #35
Hey @afif-fahim, Welcome to CloudCV!

Please get started by picking up issues in the EvalAI repository.

[2021-03-04 18:44] RishabhJain2018 commented on #38
Hi @Shivani-Goud, Welcome to CloudCV!

Please feel free to pick any task that you like, open an issue for the same and we can assign that to you.

[2021-03-05 06:06] Shivani-Goud opened #40 "Show progress bar when a participant is uploading a submission from UI - Improvements in EvalAI frontend"
**Project Title:** Showing a progress bar while uploading a submission

**Description:** This is one of the expected task in the  process of improving the existing UI  before GSOC 2021. The expected tasks are from  the feedback received from the challenge hosts and participants for the AI challenges organised that year.

**Deliverable:** Show progress bar apt to the style and theme of the applicat

[2021-03-05 06:18] Shivani-Goud commented on #38
@RishabhJain2018   I have opened this [issue ](https://github.com/Cloud-CV/GSoC-Ideas/issues/40) .

[2021-03-07 19:11] Alabhya268 commented on #38
@lunayach  @RishabhJain2018  @Ram81  Hi mentors, I've been contributing to EvalAI project for a while now and I am good with Angular and Django. I want to contribute to these issues.

Could you also please let me know how many slots Cloud-CV requests  for GSOC.
Thanks in advance.

[2021-03-09 21:19] Alabhya268 commented on #38
@RishabhJain2018  @Ram81 @lunayach  CloudCV mailing list is not working , Could you please help me.
It shows ```Content unavailable```.

[2021-03-10 04:37] nhannqgh opened #41 "Add meta tags for each challenge page. If a user shares some challenge page link on twitter, then it should show the details of challenge and challenge cover picture instead of EvalAI image."
**Project Title:** Improvements in EvalAI frontend

**Description:** Add meta tags for each challenge page. If a user shares some challenge page link on twitter, then it should show the details of challenge and challenge cover picture instead of EvalAI image.

**Deliverable:**

**Mentor:**

**Skills:**

**Skill Level:**

**Get started:**

[2021-03-10 04:39] nhannqgh commented on #38
Hi @Ram81,
I am interested in solving this issue "Add meta tags for each challenge page. If a user shares some challenge page link on twitter, then it should show the details of challenge and challenge cover picture instead of EvalAI image". I created [this issue](https://github.com/Cloud-CV/GSoC-Ideas/issues/41). Can I start now?

[2021-03-10 06:25] afif-fahim commented on #35
@RishabhJain2018, Can I start working on the issues mentioned in this project idea?

[2021-03-11 05:33] Ram81 commented on #41
Closing this issue. Duplicate issue. Original issue is [here](https://github.com/Cloud-CV/EvalAI/issues/3297)

[2021-03-11 05:33] #41 closed, assigned to nobody

[2021-03-11 13:28] savish28 commented on #36
Hey @Ram81, I am intersted in this project and would love to work on issues regarding the same. Most of the issues mentioned Gsoc are assigned so could I start working of making pull request for some of the initial deliverables for this?

[2021-03-12 10:50] anukritigupta24 commented on #37
Hi,
I am interested in working on this project. I have good experience in writing APIs and building dashboards. I have already worked with Angular, Flask, REST APIs, Vue.js, React.js, HTML, CSS, JavaScript, Node.js, etc. As an intern I have worked on similar technologies and same type of work, so I have good experience with this. It would be great to work on this. Please let me know about how can

[2021-03-12 15:16] mayank444 commented on #38
Venerated Sir,
I hope you are safe and in good health in the wake of prevailing COVID-19.
My name is Mayank Parashar and I am a 3rd-year Computer Science undergraduate student at JCBOSE YMCA University. I have been working with Python, Swift, and deep learning for a couple of years now and have in-depth knowledge of it. I look forward to contributing to this idea as part of this year's GSoC.
It wo

[2021-03-12 15:17] mayank444 commented on #37
Venerated Sir,
I hope you are safe and in good health in the wake of prevailing COVID-19.
My name is Mayank Parashar and I am a 3rd-year Computer Science undergraduate student at JCBOSE YMCA University. I have been working with Python, machine learning, and deep learning for a couple of years now and have in-depth knowledge of it. I look forward to contributing to this idea as part of this year's

[2021-03-12 23:32] RishabhJain2018 commented on #37
Hi @anukritigupta24 and @mayank444, Welcome to CloudCV!

Thank you for your interest in the project. As a starting point, you both should first setup EvalAI development environment on your local machine or at the place where you do development. After that, you should look for starter issues in the EvalAI GitHub repository. You should solve a bunch of issues to get familiar with the project codebas

[2021-03-12 23:37] RishabhJain2018 commented on #38
Hi @Alabhya268 ,

Thank you for the contributions and we look forward to your proposal 🎉

Sorry, we are not authorized to give out this information but I can tell you that we will have sufficient slots for every project.

It shows Content unavailable.

Can you please post the screenshot and the link you are trying to access?

[2021-03-12 23:38] RishabhJain2018 commented on #38
Hi @nhaancs, Welcome to CloudCV!

Sorry, this issue is already taken. Please feel free to pick up any other issue.

[2021-03-12 23:40] RishabhJain2018 commented on #38
Hi @mayank444, Welcome to CloudCV!

Thank you for your interest in the project. As a starting point, you both should first setup EvalAI development environment on your local machine or at the place where you do development. After that, you should look for starter issues in the EvalAI GitHub repository. You should solve a bunch of issues to get familiar with the project codebase.

Moreover, please

[2021-03-13 14:59] Alabhya268 commented on #38
@RishabhJain2018 , I am getting this type of error.
![Capture](https://user-images.githubusercontent.com/57143358/111034246-86e8c900-83c9-11eb-87b7-9ff191219ba1.PNG)

[2021-03-14 04:04] aitalshashank2 commented on #35
Hello @RishabhJain2018, @Ram81, @deshraj! I have been working with Django, Django Rest Framework and Docker for about an year now and I have been exploring Kubernetes for a month. I have set the project up as well. I look forward to contribute to this project whilst increasing my knowledge base at the same time. Can I take one of the issues mentioned above?

[2021-03-14 04:34] RishabhJain2018 commented on #38
@Alabhya268 Can you please try this link -- https://groups.google.com/g/cloudcv

[2021-03-14 05:48] palrohitg commented on #35
Hi, @Ram81 @RishabhJain2018  @deshraj firstly congrats to you guys, you are so active here and working on a great product.
I am Vikas Pal, currently in my prefinal year (CSE) more interested in the backend stuff and scaling application, active open-source developer.
Since I am more curious to know what happens to a product that has large user-based like Facebook, Amazon, etc? How they able to proc

[2021-03-14 13:20] Alabhya268 commented on #38
@RishabhJain2018, I'm  still facing same issue with this link.

[2021-03-14 23:10] Cenrax commented on #36
Hey @Ram81, I am interested in this project. I have experience in working with Kubernetes in AWS and Azure and also managing of CNI. I want to contribute in this project, can you please guide me on what to do next?

[2021-03-15 04:55] akshat-crypto commented on #36
Hey @Ram81, I want to contribute in this project, I have worked on Kubernetes, Aws, docker, Jenkins in the past few months and i would like to gain more knowledge in this domain. Pls guide me on how to proceed further

[2021-03-16 16:30] MRafaydev commented on #40
Hey @Shivani-Goud I want to contribute on this issue....

[2021-03-17 16:32] ankitpal1029 commented on #38
Hey i'm Ankit,
I am interested in contributing to the project so far i have setup the docker dev env, @RishabhJain2018  can you please guide me as to  which issues i should attempt going from here.

[2021-03-18 07:23] suryaremanan commented on #37
Hi @RishabhJain2018 ,

I am a second-year BCA student who has experience interning at a startup as a Data Scientist. I have deep knowledge of machine learning and have worked on various projects.
I am interested and look forward to contributing to this idea.

Kind Regards
Kumari Surya Remanan

[2021-03-18 18:13] bernandez commented on #35
I am interested in this project especially the part where a dashboard is created

[2021-03-18 18:45] ankitpal1029 commented on #38
@RishabhJain2018 @Ram81  can i work on https://github.com/Cloud-CV/EvalAI/issues/2618 this issue? i thought i could maybe use the ngx-cookieconsent library for this what are your views regarding this.

[2021-03-20 12:35] MayankGeek commented on #38
Can I work on Fix inconsistent padding and font-weight across the UI ?

[2021-03-21 22:08] suryaremanan commented on #37
@RishabhJain2018 , I just finished setting up the EvalAI development environment on my pc

[2021-03-23 17:45] suryaremanan commented on #40
hi @Shivani-Goud , I want to contribute to this issue

[2021-03-24 14:12] suryaremanan commented on #37
@Ram81, @RishabhJain2018 I get the below screen on trying to join the mailing list. What should I do?
![Screenshot](https://user-images.githubusercontent.com/17148269/112324595-fbc8d680-8cd8-11eb-994e-aa0348f913a4.png)

[2021-03-25 19:50] Anubhav1107 commented on #36
Hello @Ram81, @KhalidRmb @RishabhJain2018, I am interested in this project and want to work on it. I normally work in Python and have tinkered with docker and have knowledge in AWS, I will learn Kubernetes as the Project goes on. Can you please guide me on where to start this, thanks !

[2021-03-26 06:46] RishabhJain2018 commented on #37
Hi @suryaremanan, It is fixed and should work now!

[2021-03-30 05:00] Garoradua commented on #36
Hey! @Ram81, @KhalidRmb @RishabhJain2018, I am a very keen learner of this project. Because I generally worked on Docker from Basic launch its image to the advance making apache webserver manually and fully automated from making scripts on Dockerhub. I am doing automation on the docker like using MySQL database to launch fully working our own WordPress website.
so, please involve and guide me in t

[2021-04-01 04:25] ravindranath-sawane commented on #35
Hello, @Ram81 @RishabhJain2018 @deshraj I'm a Student Pursuing B.Tech. in Artificial Intelligence I'm really interested to learn about this type of project.

[2021-04-05 07:24] hvsblogger commented on #35
Hi, @Ram81 @RishabhJain2018 @deshraj I am a Mtech student from IIIT and am willing to work on this project. I did an internship in Cloud Ops and Automation in webscoot e-commerce company also I did 4 RedHat certification Redhat certified in system administration, Redhat certified engineer, Red Hat Certified Specialist in Virtualization, Red Hat Certified Specialist in Ansible Automation, and DevOp

[2021-04-06 20:53] AmnaFish commented on #36
Not something that I have experience in, but I am super eager to work on this project. @Ram81, @KhalidRmb @RishabhJain2018 I am pretty sure that with your guidance Ill make it through this project. I have worked with Python, and as for Docker, Kubernetes and every other new tech that will be required, I'll learn and grasp them as soon as possible. This project will give me a ton to learn and I bel

[2021-04-07 09:48] vaibhavjack11 commented on #38
I have worked On Angular 7
I made a blog Posting Application I can Do this Work both front end and backend also with firebase

i want to do this task

[2021-04-08 12:24] trayansh commented on #40
Hey @Shivani-Goud am Also Interested To Contribute To this Issue.

[2021-04-09 07:24] TheNobody-12 commented on #35
hi @Ram81 @RishabhJain2018   i am sarthak kapaliya i love this project idea.
i am B.tech  computer science first year  student. i am very much excited to join these project on GSOC 2021.
i know programming languages like python and C. This is my first open source  project .
i have less knowledge of django and dockers. please help me in this .
Can you tell me some new things which should learn so i

[2021-04-11 13:16] kshitijdhara commented on #36
Hi, @Ram81, @KhalidRmb, and @RishabhJain2018 I want to contribute to this project, I have worked on Kubernetes, AWS, GCP, Docker, Jenkins, and Cloud Code in the past few months and I would like to gain more knowledge in this domain. Please guide me on how to proceed further.

[2021-04-11 17:06] AaqibAhamed commented on #38
I would like to contribute on Cloud CV in any angular related available ideas.May I know what are the deliverable available ?

[2021-04-13 01:02] AaqibAhamed commented on #40
Is this still available ?

[2021-04-13 07:57] AaqibAhamed commented on #38
@RishabhJain2018 @Ram81  I would like to working in these issues. Can I take "Add search option on all challenges and hosted challenges page" Task ?.

Also I have created an issue #43 for this task .
Can I get some guidnce to get start?.
Also see my commits and PR

[2021-04-13 08:03] AaqibAhamed opened #43 "Add search option on all challenges and hosted challenges page"
**Project Title:** Add search option on all challenges page

**Description:** General information about the project, avoid one Liners, the description should be as detailed as possible.

**Deliverable:** Expectations from the student at the end of the project

**Mentor:** Who is the mentor? Who is the Co-Mentor? Also please assign the issue to the mentor!

**Skills:** Which skills are needed? Prog

[2021-04-13 14:37] aditya-5 commented on #38
Hello
I am very new to Open Source Contributions. My bad that I discovered Google GSoC so late. I have a fair amount of experience with Python and Angular. How can I get started with an issue?
I did a little research and I believe it's way to late to write a proposal now.

[2021-09-18 03:39] vasukivenkatesh commented on #37
Hi @RishabhJain2018 I am Vasuki Venkatesh, a first year masters student in Computer Science at The University of Texas at Dallas. I would love to work on this project and contritbute.

[2021-11-23 06:41] uzaxirr opened #44 "Query Regarding GSoC 2022"
Hey @RishabhJain2018
I see #37 was a GSoC 2021 Idea but hasn't been implemented yet, are there any plans of Cloud-CV to participate in GSoC 2022 if yes then which all projects will be taking part in that??
EvalAI??

[2021-11-28 08:25] Saty248 commented on #36
Hi, @Ram81 , @KhalidRmb , and @RishabhJain2018 .. this is Sayantan mondal. I am  a 2nd year btech student . I was searching for open source project to contribute . I found this project to be interesting . I did a devops course in Udemy  where I learnt about  aws , docker , kubernetes and I also made from websites using python and django .. so how should I begin ? can you guys please guide me throu

[2021-12-06 23:26] sa-y-an commented on #35
@Ram81 @RishabhJain2018 @deshraj
Will EVAL AI participate in GSoC 2022 with this project?
I want to work on this project.

[2021-12-28 04:48] huskhi commented on #37
Hi all!
I'm a beginner in contribution to open source but I'm highly interested and motivated to work on this project. Please let me know how can I start with working on this project?

[2021-12-28 04:52] huskhi commented on #36
Hey @Ram81  @RishabhJain2018 @KhalidRmb, I'm a 2nd year B.Tech student. I' m new to open source but I'm motivated and interested to work on this project. Please guide me on how can I get started with this?

[2021-12-29 14:42] ahmadateya commented on #44
I questioning about that too

[2022-01-16 06:58] RUDRANSH-hub commented on #37
hii @RishabhJain2018

my name is  Rudransh Srivastava currently doing btech with Information Technology branch in 2nd year of my btech. and i have knowledge of python, Machine learning and very much interested in to contribute in your respected organization. please guide me how may i initiate my work to serve your organization through GSoC

[2022-01-18 14:49] mr-vaibh commented on #35
@Ram81 I'm up for it!!

[2022-02-06 08:09] VimukthiRandika1997 commented on #37
Hey!,
I am interested in working on this project. I have sound knowledge in writing APIs and building web apps. I have already worked with Angular, Flask, REST APIs, React.js, HTML, CSS, JavaScript, Node.js, etc. Please let me know about how can I begin working on this.

[2022-02-14 23:32] RishabhJain2018 opened #45 "Setup EvalAI deployments on Fargate/Kubernetes"

[2022-02-14 23:32] #45 closed, assigned to nobody

[2022-02-21 14:33] #35 closed, assigned to Ram81

[2022-02-21 14:35] #36 closed, assigned to KhalidRmb

[2022-02-21 14:38] Ram81 opened #46 "Easy challenge management on EvalAI"
**Project Title:** Easy challenge management on EvalAI

**Description:**

This project will focus on streamlining the newly adopted GitHub challenge creation pipeline, building API’s for fully automating challenge creation on EvalAI, adding new capabilities in EvalAI’s latest frontend for a seamless user experience, and making our backend robust and less error-prone by adding test cases for differ

[2022-02-21 14:39] #38 closed, assigned to lunayach, Kajol-Kumari

[2022-02-21 14:40] Ram81 opened #47 "Analytics dashboards for challenge hosts and participants"
**Project Title:** Analytics dashboards for challenge hosts and participants

**Description:**

This project will involve writing REST API’s, plotting relevant graphs and building analytics dashboards for challenge hosts and participants. The analytics will help challenge hosts view the progress of participants in their challenge -- for instance, comparing the trends of the accuracy from participa

[2022-02-21 15:07] #37 closed, assigned to RishabhJain2018

[2022-02-22 03:06] Ram81 commented on #44
Hi @uzaxirr we have opened issues for the GSoC'22 Ideas. You can find them in #47 #46

[2022-02-22 03:06] #44 closed, assigned to nobody

[2022-02-22 03:09] Ram81 commented on #43
We have opened a issue for this task on [EvalAI](https://github.com/Cloud-CV/EvalAI/issues/3701)

[2022-02-22 03:09] #43 closed, assigned to nobody

[2022-02-22 03:10] Ram81 commented on #40
We have opened a issue for this task on [EvalAI](https://github.com/Cloud-CV/EvalAI/issues/3702). Closing this.

[2022-02-22 03:10] #40 closed, assigned to nobody

[2022-02-26 05:05] Ram81 opened #50 "Robust test suite and infra optimization setup"
**Project Title:** Robust test suite and infra optimization setup

**Description:**

This project will focus on building a robust test suite for EvalAI's functionalities. As part of the project we will focus on making EvalAI robust and less error-prone by adding test cases for different frontend and backend component. It will involve adding unit tests for the API suite, prediction upload evaluatio

[2022-02-26 05:31] Ram81 opened #51 "Adversarial data collection with Gradio"
**Project Title:** Adversarial data collection with Gradio

**Description:**

This project will focus on building an infrastructure to allow exposing models submitted to EvalAI as demos in order to collect adversarial data for the model. As part of the project, we will integrate [Gradio](https://gradio.app/) with our code upload challenge pipeline to allow deploying the models as web services. Add

[2022-06-26 01:24] hesphoros commented on #47
please give me a opportunity